.skeleton-rounded {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vh!important;
}

.skeleton-text {
    width: 20vw;
    height: 8vh!important;
    margin-left: 1vw!important;
}

.skeleton-circular {
    display: flex;
    flex-direction: row;
    margin-left: 1vw!important;
}

.skeleton-rectangular {
    margin-left: 1vw!important;
    margin-right: 1vw!important;
}