.container {
    max-width: 95%;
    margin: auto;
}

.card {
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.5s all ease;
    cursor: pointer;
    color: black;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
}

.card:hover {
    background: #ff014f;
    color: white;
    transform: translateY(-10px);
}

.heading h4 {
    color: #ff014f;
    letter-spacing: 2px;
    font-weight: 400;
    white-space: nowrap;
}

.heading h1 {
    font-size: 60px;
    color: #3c3e41;
}

.show {
    display: block;
}

@media (max-width: 676px) {
    .hide {
        display: none;
    }    

    .heading h4 {
        letter-spacing: 0px;
    }
}
